body {
    background-image: url(http://localhost/CodeIgniterCRUD/imagenes/pokemon2.jpg);
    background-position: center;
    background-attachment: fixed;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: rgba(255, 252, 252, 0.7);
    border-radius: 10px;
    float: none;
    margin-top: 20%;
    margin-left: 25%;
    height: 350px;
    width: 500px;
}

.h1{
    text-align: center;
}